.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;

  margin-left: 20px;
}
.sidebarOption:hover {
  background-color: var(--twitter-background);
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  /* margin-right: 10px; */
  padding: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
/* .sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
} */
